body {
  height: 100%;
  background-color: #fff;
  font-family: Metropolis-Regular,sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 810px;
  margin: 0 auto 30px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.grid-game {
  width: 1200px;
  height: auto;
}

.grid-btn {
  position: relative;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  color: #001367;
  margin: 10px;
  box-shadow: 0 5px 10px 0 hsla(0,0%,74.9%,.5);
}

.grid-btn-active {
  background-color: #001367;
  color: #fff;
}

.stars-grid {
  flex: 0 0 180px;
  max-height: 290px;
}

.grid-star-btn {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
    color: #eebb05;
    cursor: pointer;
    background-color: transparent;
    background: url('./assets/img/star_before.svg') transparent no-repeat center 0;
    margin: 10px 0;
}

.grid-star-btn-active {
  background: url('./assets/img/star_after.svg') transparent no-repeat center 0;
  color: white;
}

.resume {
  flex: 0 0 180px;
  max-width: 810px;
  margin: 0 auto 30px;
}

.title {
  flex-grow: 10;
  width: 100%;
}

.action-btn {
  display: block;
  color: #fff;
  border: none;
  box-shadow: unset;
  position: relative;
  transform: translateZ(0);
  background-color: #282d87;
  align-items: center;
  border-radius: 100px;
  outline: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 12px 64px;
  gap: 1rem;
  cursor: pointer;
  font-size: 14px;
  font-family: Metropolis-Medium,sans-serif;
  transition: ease 0.4s;
}

.action-btn:hover {
  background-color: #363cb3;
}

.action-btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.grid-error {
  display: flex;
  flex-flow: column wrap;
  color: red;
  font-size: 14px;
}

.sold-error-container {
  display: block;
  margin-left: 100px;
}

.header {
  display: block;
  margin-left: 400px;
}

/* CREDITs */

.credit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 1200px;
  height: auto;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .header {
    margin: 0;
  }

  .grid-game {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    top: 0;
  }

  .stars-grid {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    position: absolute;
  }
}