body {
  height: 100%;
  background-color: #fff;
  font-family: Metropolis-Regular,sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 810px;
  margin: 0 auto 30px;
  margin-bottom: 100px;
}

.grid-game {
  width: 1200px;
  height: auto;
}

.grid-btn {
  position: relative;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  color: #001367;
  margin: 10px;
  box-shadow: 0 5px 10px 0 hsla(0,0%,74.9%,.5);
}

.grid-btn-active {
  background-color: #001367;
  color: #fff;
}

.stars-grid {
  flex: 0 0 180px;
  max-height: 290px;
}

.grid-star-btn {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
    color: #eebb05;
    cursor: pointer;
    background-color: transparent;
    background: url('./assets/img/star_before.svg') transparent no-repeat center 0;
    margin: 10px 0;
}

.grid-star-btn-active {
  background: url('./assets/img/star_after.svg') transparent no-repeat center 0;
  color: white;
}

.resume {
  flex: 0 0 180px;
  max-width: 810px;
  margin: 0 auto 30px;
}

.title {
  flex-grow: 10;
  width: 100%;
}

.played-grids {

}